{% extends "base.html" %}

{% block content %}
  <h2>Recomendador de Películas</h2>
  <form method="post">
      {% csrf_token %}
      <label for="prompt">Introduce un prompt para la recomendación:</label>
      <input type="text" id="prompt" name="prompt" required>
      <button type="submit">Buscar</button>
  </form>

  {% if movie %}
  <div class="row row-cols-1 row-cols-md-3 g-4"></div>
    <h3>Película Recomendada</h3>
      <div class="card">
        <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-title fw-bold">{{ movie.title}}</p>
        <p class="card-text"><strong>Género: </strong>{{ movie.genre}}</p>
        <p class="card-text"><strong>Descripción: </strong>{{ movie.description}}</p>
        <p class="card-text"><strong>Año: </strong>{{ movie.year}}</p>
        <p class="card-text"><strong>Similitud: </strong>{{ similarity }}</p>
      </div>
      </div>
  </div>
    {% endif %}
{% endblock %}
