{% extends "base.html" %}

{% block content %}
  <h2>Recomendador de Películas</h2>
  <form method="post">
      {% csrf_token %}
      <label for="prompt">Introduce un prompt para la recomendación:</label>
      <input type="text" id="prompt" name="prompt" required>
      <button type="submit">Buscar</button>
  </form>

  {% if movie %}
    <h3>Película Recomendada</h3>
    <p><strong>Título:</strong> {{ movie.title }}</p>
    <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
    <p><strong>Descripción:</strong> {{ movie.description }}</p>
    <p><strong>Similitud:</strong> {{ similarity }}</p>
  {% endif %}
{% endblock %}
